@font-face {
  font-family: poppins;
  src: url(fonts/Poppins.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(fonts/Montserrat.ttf);
}
* {
  margin: 0;
}
body {
  margin: 0;
  font-family: montserrat;
  overflow-x: hidden;
}
.menu {
  width: 20%;
  background-color: #d1ddef;
  height: 100vh;
  position: fixed;
  padding-top: 1.9%;
}
#menu-title {
  color: rgb(6, 6, 6);
  margin: 12%;
  padding: 10% 0;
  font-size: 1.7em;
  font-family: poppins;
}
.menu-items {
  width: 80px;
  justify-content: center;
  align-items: center;
  display: inline-block;
  background-color: #3c3862;
  border-radius: 5px;
  color: #ffffff;
  margin: 3.5% 0 3% 13%;
  padding: 4.75% 22%;
  box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.5);
}
.menu-items:hover {
  background-color: #4c4967;
  transform: scale(1.04);
  transition: 0.3s;
}
#pagein {
  background-color: #4c4967;
}
.menu a {
  color: #e0e0f0;
  text-decoration: none;
}
#homecontent {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(135deg, #0a0f24, #1b3b6f),
    url("images/bg.webp");
  min-height: 100vh;
  background-size: cover;
}
#homecontent_text {
  margin-left: 20%;
  text-align: center;
}
#home_title {
  font-size: 3em;
  margin-top: 25px;
  margin-bottom: 10px;
  color: #f2f2f2;
  font-family: poppins;
  background-color: #393658;
  border-radius: 5px;
  padding: 10px;
  margin: 2% 7% 4% 7%;
}
#homecontent_text p {
  color: #ccccdd;
  line-height: 2;
  margin: 2% 7% 1% 7%;
  font-size: 1.4em;
}
.content {
  color: white;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(135deg, #0a0f24, #1a2d4d),
    url("images/bg.webp");
  min-height: 100vh;
  background-size: cover;
  line-height: 1.8;
  margin-left: 20%;
  padding: 5% 7% 5% 7%;
}

.content .ques-title {
  color: #ffffff;
  margin: 4% 0 3% 0;
  font-size: 2.5em;
}
#content_title {
    font-size: 2.5em;
    color: #f2f2f2;
    margin-bottom: 30px;
    text-align: center;
    font-family: poppins;
  }
  
.content h2 {
  margin-top: 35px;
  margin-bottom: 10px;
  padding: 10px;
  font-family: montserrat;
  font-size: 1.5em;
  font-weight: bold;
  color: #f2f2f2;
  background-color: #3c3862;
  border-radius: 5px;
}

.content h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
  font-family: montserrat;
  font-size: 1.4em;
  font-weight: bold;
  color: #f2f2f2;
}


.content p {
  font-size: 1.2em;
  margin-bottom: 15px;
  line-height: 1.8;
  color: #d1d1d1;
}
.content pre {
  display: inline-block;
  font-size: 1.25em;
  background-color: rgba(40, 38, 66, 0.7);
  padding: 20px;
}

.content ul {
  font-size: 1.2em;
  margin-left: 20px;
  color: #d1d1d1;
}
.content ul li {
  margin-bottom: 8px;
  padding-left: 15px;
}
.content a {
  text-decoration: none;
  color: white;
}
table, td, tr, th{
  border: 1px solid black;
  border-collapse: collapse;
}
.syllabus_content{
  font-family: 'Times New Roman';
  font-size: 1.2em;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}
table{
  margin: 100px;
}
th, td{
  text-align: center;
  padding:10px;
}
